$primery:#7B1EFA;
$sceondary:#02EA5F;
$black:#08131E;
$white:#D8DEEA;

// Sizes
$S10:10px;
$S16:16px;

// Navigation
.navigation{
    background-color: $primery;

}

// Text
.navigationText{
    color: $white;

}