@import "variables";

// utittles
.bg-color{
    background-color: $white;
}

// hero section 
.hero-title{
    font-size: 100px;
    font-weight: bold;
    // font-stretch: expanded;
    color: $black;
    font-family: 'ClashDisplay-Bold';
}
